# PostgreSQL

DB_HOST=localhost
DB_PORT=5432
DB_NAME=credibot
DB_USER=postgres
DB_PASSWORD=

# Twilio

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=

# Groq

GROQ_API_KEY=

# Application

APP_NAME=CrediBot
DEBUG=True