fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

pydantic
pydantic-settings

python-dotenv

httpx

twilio

groq

faster-whisper
gTTS
av

python-multipart

python-jose

passlib[bcrypt]

loguru
pytest
